<div class="credit">
  <h3 class="credit-title">
    {{title}}
  </h3>

  <p class="credit-details">
    <span class="credit-role">
      {{role}}
    </span>

    <span class="credit-year">
      {{year}}
    </span>
  </p>

  <button
    class="credit-video-show"
    type="button"
    data-video-src="{{src}}" 
  >
    <span class="credit-video-show__content">
      {{buttonText}}
    </span>
  </button>
</div>
